svg.text-banner {
	font-family: "Russo One", sans-serif;
	width: 100%;
}
svg.text-banner text {
	@apply text-4xl sm:text-[4rem] md:text-[6.75rem];
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #f8f8f8;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0.2); stroke: rgb(255, 255, 255);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 4;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgb(253, 253, 253); }
	80%  {fill: rgba(72,138,204,0); stroke: rgb(255, 255, 255); stroke-width: 4; }
	100% {
		fill: rgb(144, 181, 218); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 2;
	}
}

.animate-updown {
	animation: updown 3s infinite ease-in-out;
}
@keyframes updown {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(1rem);
	}
	50% {
		transform: translateY(-1rem);
	}
}

/* Fade-up Opacity Animation */
.fade-up{
    opacity: 0;
}
.fade-up.show-fade-up{
    animation: 0.7s var(--delay) fadeUp linear 1 forwards;
}
@keyframes fadeUp{
    0%{
		opacity: 0.3;
        transform: translateY(40px);
    }
    50%{
		opacity: 0.7;
        transform: translateY(-20px);
    }
    100%{
		opacity: 1;
        transform: translateY(0);
    }
}

/* Fade-down Opacity Animation */
.fade-down{
    opacity: 0;
}
.fade-down.show-fade-down{
    animation: 0.7s var(--delay) fadeDown linear 1 forwards;
}
@keyframes fadeDown{
    0%{
		opacity: 0.3;
        transform: translateY(-20px);
    }
    50%{
		opacity: 0.7;
        transform: translateY(40px);
    }
    100%{
		opacity: 1;
        transform: translateY(0);
    }
}